/__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
.pytest_cache/
*.pth
*.egg-info/
dist/
build/
dataset/
/dataset/
*.csv
经典模型复现/CVSSN/data/
经典模型复现/CNN/overhead/
经典模型复现/HSI_SSFTT/data/
经典模型复现/ResNet/data/
小项目/HSI_SSFTT/data/
小项目/TestUNet/WDCCR/
小项目/unet-buiding/massachusetts-buildings-dataset/
/杂项/
Github/deep-learning-for-image-processing/
!/Github/Pixel-level-Hyperspectral-Target-Detection/dataset/
/MyGithub/
PPT汇报
